@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html,body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  background-color: #0E5340;
  height: fit-content;
}

a{
  text-decoration: none;
  color: white;
}

/******* header  ********/



header{
    font-family: 'Alfa Slab One',serif;
    color: aliceblue;
    font-size: 30.9px;
    font-weight: 400;
    background-color: #24DBA8;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logomenu{
  margin-left: 40px;
  margin-top: 15px;
}

#listmenuol{
    gap: 40px;
    margin-top: 40px;
    margin-right: 40px;
}

/************** deroulant  ***********/


header > ul {
  display: flex;

} 

header ul {
  list-style-type: none;

}

header > ul > li {
  position: relative;
}

header > ul > li:hover > a{
  color: #FCC926;
}

.sous-menu {
  position: absolute;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 25px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: #24DBA8;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #24DBA8;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #000000;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sous-menu > li:hover {
  background-color: #fcca267b;
}

.sous-menu > li > a {
  padding-left: 9px;
}


/******** body ***********/

.gros_titres{
  margin: 80px;
}

h1{
    text-align: center;
    color: white;
    font-family:'Alfa Slab One',serif;
    font-size: 50px;
    font-weight: 400;
}

h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Alfa Slab One',serif;
    font-size: 30.9;
    font-weight: 400;
}

.yellowtexte{
    font-family: Alfa Slab One;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}

.yellowlink {
    color: yellow;
    text-decoration: none;
}

#titre404{
  margin-top: 10%;
  margin-bottom: 10%;
}

#logo-fond{
    position: absolute;
    left: 0px;
    top: 140px;
    z-index: -1;

}


/********* cards **********/

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#double-card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.card {
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 32%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.500);
}

.contenue-card {
  padding: 20px;
  margin-bottom: 10px;
}

.h2-noir{color: #000000;
  text-align: left;
}

.cta{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #20C295;
  width: 180px;
  border-radius: 15px;
  color: #FFF;  
  font-size: 15px;
}

.cta:hover {
  background-color: #20c2948a;
}

@media (hover:hover)
  .cta:hover{
    background-color:blue;
  }
  




/****** questions ********/
  
  .container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #FCC926;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #FCC926;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #FCC926;
    border: 1px solid #FCC926;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30.9px;
    font-weight: 700;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #FCC926;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    color: #FFF;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19.1px;
    font-weight: 500;
    font-style: normal;
    
  }  


/*********  Footer  ********/

footer{
    background-color: aliceblue;
    height: 60px;
    width: auto;
    line-height: 60px;
    padding-right: 60px;
    text-align: right;
    padding-bottom: 0%;
    bottom: 0%;
  }

#footerlink{

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19.10px;
    font-family: Alfa Slab One;
    font-weight: 400;
}

#footerlogo{

    position:relative;
    left: 40px;
    bottom: 118px;
    height: 106.515px;
    width: 138px;
}
